body{
	
	line-height: 24px;
	font-size: 14px;
	color: #000000;
	text-transform: capitalize;
	font-family: 'Open Sans', sans-serif;
}
img{
	max-width: 100%;
}
a:hover{
	text-decoration: none;
	outline: 0;
	border: 0;
}
.headertab {
    margin: 40px;
}
.headertab .nav{
	justify-content: center;
	-webkit-justify-content: center;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.canvasjs-chart-credit{
	display: none;
}
.sec_block {
    padding: 15px;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 15px 0;
    display: block;
    overflow: hidden;
}
.tab-content>.tab-pane {
  border: 1px solid #ddd;
    padding: 0 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgb(221, 221, 221,0.4);
     -webkit-box-shadow: 0px 1px 2px 0px rgb(221, 221, 221,0.4);
    position: relative;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
position: relative;
}
.nav-pills .nav-link.active::before, .nav-pills .show>.nav-link::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #007bff;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    bottom: -10px;
 
}


 